[submodule "fairseq"]
	path = fairseq
	url = https://github.com/pytorch/fairseq
[submodule "catalyst-fairseq"]
	path = distributional_graphormer/catalyst-adsorption/fairseq
	url = https://github.com/pytorch/fairseq
[submodule "property-guided-fairseq"]
	path = distributional_graphormer/property-guided/fairseq
	url = https://github.com/pytorch/fairseq
