*.pyc
*.log
ckpts
examples/dataset
examples/property_prediction/ckpts
#examples/property_prediction/dataset
!examples/property_prediction/dataset/pcqm4m-v2/RELEASE_v1.txt
!examples/property_prediction/dataset/pcqm4m_kddcup2021/RELEASE_v1.txt
